


<script>

$(function(){

  $.getJSON("picked_sample.json").done(function(json){
    var images_url = [];
    json.forEach(function(img) {
      images_url.push(img.medium);
    });

    images_url = _.shuffle(images_url)
    images_url = images_url.slice(0, 200)

    console.log(images_url)

    $.photowall(images_url);
  });

  

  $("body").append("");

  $(".title").position({
    my: "center top",
    at: "center top",
    of: document,
    //offset: "0 -50",
  }).css({
    top: 50
  });
  $(".c1").position({
    my: "center top",
    at: "center bottom",
    of: ".title"
  }).css({
    top: "+=50"
  })
  $(".c2").position({
    my: "center top",
    at: "center bottom",
    of: ".c1"
  }).css({
    left: "-=150"
  });

  $(".c3").position({
    my: "center top",
    at: "center bottom",
    of: ".c1"
  }).css({
    left: "+=150"
  })

  //setTimeout(function(){ $(".c1").addClass("animate "); }, 0)
  //setTimeout(function(){ $(".c2").addClass("animate "); }, 1000)
  //setTimeout(function(){ $(".c3").addClass("animate "); }, 2000)

  $(".circle").on({
    mouseenter: function(){
      $(this).transition({
        scale: 1.1,
        'background-color': 'rgb(236, 196, 111)'
      }, 200);
    },
    mouseleave: function(){
      $(this).transition({
        scale: 1,
        'background-color': 'rgb(248, 251, 236)'
      }, 200);
    }
  })
});


</script>

<div class="front">
  <h1 class="title">沒圖沒真相</h1>

  <div class="circle c1  ">新心情</div>
  <div class="circle c2  ">喜怒哀樂塗鴉牆</div>
  <div class="circle c3  ">我的心情日記</div>


</div>