


<script>

$(function(){

  $.getJSON("picked_sample.json").done(function(json){
    var images_url = [];
    json.forEach(function(img) {
      images_url.push(img.medium);
    });

    images_url = _.shuffle(images_url)
    images_url = images_url.slice(0, 200)

    console.log(images_url)

    $.photowall(images_url);
  });

  

  $("body").append("");

  $(".title").position({
    my: "center top",
    at: "center top",
    of: document,
    //offset: "0 -50",
  }).css({
    top: 40
  });
  $(".c1").position({
    my: "center top",
    at: "center bottom",
    of: ".title"
  }).css({
    top: "+=50"
  }).click(function(){
    location.href = "/add_article";
  })
  $(".c2").position({
    my: "center top",
    at: "center bottom",
    of: ".c1"
  }).css({
    left: "-=150"
  });

  $(".c3").position({
    my: "center top",
    at: "center bottom",
    of: ".c1"
  }).css({
    left: "+=150"
  })

  //setTimeout(function(){ $(".c1").addClass("animate "); }, 0)
  //setTimeout(function(){ $(".c2").addClass("animate "); }, 1000)
  //setTimeout(function(){ $(".c3").addClass("animate "); }, 2000)

  $(".circle").on({
    mouseenter: function(){
      $(this).transition({
        scale: 1.1,
        'background-color': '#605647',
        color: '#fafcd7'
        //'background-color': 'white',
        //color: 'black'
      }, 200);
    },
    mouseleave: function(){
      $(this).transition({
        scale: 1,
        'background-color': '#fafcd7',
        color: '#605647'
        
        //'background-color': 'black',
        //color: 'white'
      }, 200);
    }
  })
});


</script>
<style>
.hello{
  

}
</style>

<div style="margin-top: 150px; margin-left: 0px; width : 1200px; height: 300px; background-color: rgba(0,0,0,0.8);ww" class="front">

<br>
<br>
<br>
<br>
<div style="position: absolute; left: 200px; top: 210px;"> 
<a href="/overview"><img src="/g.png" height="42" width="110" id="glance"> </a>
</div> 
<div style="position: absolute; left: 750px; top: 210px;"> 
<img src="/e.png" height="42" width="140"> 
</div> 
<div style="position: absolute; left: 330px; top: -15px;"> 
<a href="/rank"><img src="/h.png" id="expression"> </a>
</div> 
<!-- <p align="center" style="font-family: cursive; font-size: 70px; color:#FFF0E0;">Poetry of life</p> -->
</div>





 
 


</div>