

<a href="/"><h1>Poetry of Life</h1></a>



<style>
      .wordcloud {
        //border: 1px solid #036;
        height: 7in;
        margin: 0.5in auto;
        padding: 0;
        page-break-after: always;
        page-break-inside: avoid;
        width: 7in;
      }
</style>

<h2>新增文章</h2>

<div id="wordcloud1" class="wordcloud">
        <span data-weight="9">quisqu</span>
      </div>
<script>
    $(function(){
      $("#wordcloud1").awesomeCloud({
          "size" : {
            "grid" : 16,
            "normalize" : false
          },
          "options" : {
            "color" : "random-dark",
            "rotationRatio" : 0.2,
            "printMultiplier" : 3,
            "sort" : "random"
          },
          "font" : "'Times New Roman', Times, serif",
          "shape" : "square"
        });
    });
</script>


<h2>新增文章</h2>


<div class="row">
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>

</div>


<h2>新增文章</h2>


<div class="row">
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-green">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-green">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-green">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-green">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>

</div>



<!--

<div class="row">
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-green">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-pull-1 col-sm-pull-0 col-xs-offset-1 col-sm-offset-0">
        <div class="widget-container widget-text boxed badged badge-brown">
            <div class="inner">
                <div class="badge-top"></div>
                <h3 class="widget-title">Text widget</h3>
                <div class="textwidget">
                    <p>Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="badge-bottom"></div>
            </div>
        </div>
    </div>
</div>

-->